body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gift-voucher {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.voucher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.voucher img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
}

.voucher-info {
    max-width: 55%;
}

.voucher-info h3 {
    color: #333;
    margin-top: 0;
}

.voucher-info p {
    color: #666;
}

.voucher-info a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.voucher-info a:hover {
    background-color: #0056b3;
}
