body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.packages-container {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.package {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.package h2 {
    color: #db2e53;
}

.package p {
    color: #666;
    margin-bottom: 15px;
}

.package img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.book-btn {
    padding: 10px 20px;
    background-color: #3d3939;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.book-btn:hover {
    background-color: #252626;
}
